<h2>Skills</h2>
<h3>Assistive Technologies and Standards</h3>
<ul>
 <li>Braille (grades 1 and 2, UEB, music)</li>
 <li>JAWS</li>
 <li>NVDA</li>
 <li>Voiceover</li>
 <li>Narrator</li>
 <li>WCAG</li>
</ul>
<h3>Languages</h3>
<ul>
 <li>C</li>
 <li>C#</li>
 <li>Go</li>
 <li>Javascript</li>
 <li>Lua</li>
 <li>SQL</li>
 <li>Python</li>
 <li>XML</li>
</ul>
<h3>Development Tools</h3>
<ul>
 <li>Clang and GCC</li>
 <li>Docker and DockerHub</li>
 <li>GDB and PDB</li>
 <li>Git and GitHub/GitLab</li>
 <li>Vim and VS Code</li>
</ul>
<h3>Operating Systems</h3>
<ul>
 <li>Windows</li>
 <li>Linux</li>
 <li>iOS</li>
 <li>MacOS</li>
</ul>
<h3>Other</h3>
<ul>
</ul>
