<h2>Skills</h2>
<h3>Operating Systems</h3>
<ul>
 <li>iOS</li>
 <li>Linux</li>
 <li>Windows</li>
</ul>
<h3>Development Tools</h3>
<ul>
 <li>Clang and GCC</li>
 <li>Docker and DockerHub</li>
 <li>GDB and PDB</li>
 <li>Git and GitHub/GitLab</li>
 <li>VS code</li>
</ul>
<h3>Development methodologies</h3>
<ul>
 <li>Agile</li>
 <li>DRY</li>
 <li>KISS</li>
</ul>
<h3>Languages</h3>
<ul>
 <li>C</li>
 <li>C#</li>
 <li>Go</li>
 <li>Javascript</li>
 <li>Lua</li>
 <li>SQL</li>
 <li>Python</li>
 <li>XML</li>
</ul>
<h3>Assistive Technologies and Standards</h3>
<ul>
 <li>Braille (grades 1 and 2, UEB, music)</li>
 <li>JAWS</li>
 <li>Narrator</li>
 <li>NVDA</li>
 <li>Voiceover for iOS</li>
 <li>WCAG</li>
</ul>
<h3>Other</h3>
<ul>
</ul>
