<h2>Skills</h2>
<h3>Assistive Technologies and Standards</h3>
<ul>
 <li>WCAG</li>
 <li>Braille (grades 1 and 2, UEB, music)</li>
 <li>Voiceover</li>
 <li>JAWS</li>
 <li>NVDA</li>
 <li>Narrator</li>
</ul>
<h3>Languages and Frameworks</h3>
<ul>
 <li>Swift</li>
 <ul>
  <li>SwiftUI</li>
  <li>XCTest</li>
  <li>XCUITest</li>
 </ul>
 <li>Python</li>
 <ul>
  <li>PyTest</li>
  <li>Unittest</li>
  <li>Django</li>
  <li>FastAPI</li>
  <li>UV</li>
  <li>Poetry</li>
 </ul>
 <li>Rust</li>
 <ul>
  <li>Cargo Test/li>
  <li>Cargo</li>
 </ul>
 <li>SQL</li>
 <li>Go</li>
 <li>Javascript</li>
 <li>C</li>
 <li>Lua</li>
 <li>C#</li>
</ul>
<h3>Development Tools</h3>
<ul>
 <li>Git and GitHub/GitLab</li>
 <li>XCode</li>
 <li>Vim</li>
 <li>GDB and PDB</li>
 <li>Docker and DockerHub</li>
 <li>Clang and GCC</li>
</ul>
<h3>Operating Systems</h3>
<ul>
 <li>MacOS</li>
 <li>iOS / iPadOS</li>
 <li>Linux</li>
 <li>Windows</li>
</ul>
<h3>Other</h3>
<ul>
</ul>
